<div class="message text-danger">
    <span *ngIf="showMessage">{{displayMessage}}</span>
</div>
<div class="view-courses-container ">
    <div *ngFor="let course of courses">
        <div class="row">
            <div class="col">
                <div class="name">
                    {{course.name}}
                </div>
                <div class="prof">
                    {{course.instructor_name}}
                </div>
                <div class="course-info">
                    <span class="info">{{course.department}}{{course.course_number}} {{course.section}} {{course.semester}} {{course.year}}</span>
                    <span><div class="audit" *ngFor="let req of course.req_names">{{req}}</div></span>
                    <span class="info">{{course.description}}</span>
                    <span (click)="editCourseModal(course)" class="edit-btn"><button>Edit</button></span>
                    <span (click)="removeCourse(course)" class="delete-btn"><button>Remove Course</button></span>
                </div>
            </div>
        </div>
    </div>
</div>
