<h3>Courses</h3>
<div class="message text-danger">
    <span *ngIf="showMessage">{{displayMessage}}</span>
</div>
<div *ngIf="!loading" class="view-courses-container ">
    <div *ngFor="let course of courses">
        <div class="row">
            <div class="col col-1-4">
                <div class="name marginb">
                    {{course.name}} ({{course.department}}{{course.course_number}}-{{course.section}})
                </div>
                
                <div class="info marginb"><span class="label">Semester: </span> {{course.semester}} {{course.year}}</div>
                <div class="prof marginb">
                    <span class="label">Instructor:</span> {{course.instructor_name}}
                </div>
                
            </div>
            <div class="col col-1-4">
                <div class="label">Description:</div>
                <div class="info">{{course.description}}</div>
            </div>
            <div class="course-info col col-1-4">
                <div class="label">Fulfilled Requirements:</div>
                <div class="audit" *ngFor="let req of course.req_names">{{req}}</div>                
            </div>
            <div *ngIf="userRole !== 'audit'" class="col col-1-4">
                <span (click)="editCourseModal(course)" class="edit-btn"><button>Edit</button></span>
                <span (click)="removeCourse(course)" class="delete-btn"><button>Remove Course</button></span>
            </div>
            <div *ngIf="userRole === 'audit'" class="col col-1-4">
                <span (click)="viewAssignments(course._id)" class="edit-btn"><button>View Assignments</button></span>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loading" class="loader">
    <img src="/assets/images/icons/loader.png">
</div>