.row {
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.row .col span {
    display: inline-block;
}

.name {
    font-weight: bold;
}

.info, .edit-btn {
    margin-right: 20px;
}

.role {
    display: block;
}
.text-danger {
    display: inline-block;
    margin-bottom: 16px;
    color: red;
}

.label {
    font-weight: bold;
    margin-bottom: 4px;
}
.sect {
    margin-bottom: 10px;
}
.col {
    display: inline-block;
    vertical-align: top;
}
.col-1-4 {
    width: 25%;
}
.col-2-4 {
    width: 50%;
}

.filters {
    margin-bottom: 20px;
}
.filter-heading {
    margin-bottom: 12px;
    font-weight: bold;
}
.filters label {
    width: 56px;
    margin-right: 12px;
    display: inline-block;
}