.row {
    padding: 10px;
    border-bottom: 1px solid darkgray;
}

.row span {
    display: inline-block;
}

.name {
    font-weight: bold;
}

.info, .edit-btn {
    margin-right: 20px;
}

.role {
    display: block;
}
.text-danger {
    display: inline-block;
    margin-bottom: 16px;
    color: red;
}