<div class="document-management-container">
    <div class="title">
        <h2>Assignment Document Management</h2>
    </div>
    <div class="breadcrumb"><a routerLink="/admin">Return to Admin Panel</a></div>
    <div class="document-btn">
        <button class="block-btn" (click)="buttonFn('add-assignment')">Add Assignment</button>
        <button class="block-btn" (click)="buttonFn('view-assignments')">View Assignments</button>
        <button class="block-btn" (click)="buttonFn('add-document')">Add Document</button>
        <button class="block-btn" (click)="buttonFn('view-documents')">View Documents</button>
    </div>
    <div class="document-content">
        <app-add-assignment *ngIf="addAssignment"></app-add-assignment>
        <app-view-assignments *ngIf="viewAssignments"></app-view-assignments>
        <app-add-document *ngIf="addDocument"></app-add-document>
        <app-view-documents *ngIf="viewDocuments"></app-view-documents>
    </div>
</div>
 