<form [formGroup]="addAssignmentForm" (ngSubmit)="onSubmit()">
  
    <label>
        <span>Assignment Title:</span>
        <input id="title" type="text" formControlName="title">
    </label>
    <span *ngIf="addAssignmentForm.controls.title.invalid && (addAssignmentForm.controls.title.dirty || addAssignmentForm.controls.title.touched)"
        class="alert text-danger">
        <span *ngIf="addAssignmentForm.controls.title.errors.required">
            Assignment Title is required.
        </span>
        <span *ngIf="addAssignmentForm.controls.title.errors.minlength">
            Assignment Title must be at least 4 characters long.
        </span>
    </span>
    <label>
        <span>Semester (SPRING or FALL):</span>
        <input type="text" formControlName="semester">
    </label>
   <label>
        <span>Year:</span>
        <input type="text" formControlName="year">
    </label>
    <label>
        <span>Course:</span>
        <input type="text" formControlName="course">
    </label>
    <label>
        <span>Section:</span>
        <input type="text" formControlName="section">
    </label>
    <label>
       <span>Description:</span>
        <input type="text" formControlName="description">
    </label>
    <label>
        <span>Category:</span>
        <input type="text" formControlName="category">
    </label>
    <label>
        <span>Authorized Roles:</span>
        <input type="text" formControlName="authorized_roles">
    </label>
    <label>
        <span>Fulfilled Requirements:</span>
        <input type="text" formControlName="fulfilled_requirements">
    </label>
    <label>
        <span>Assignment Document Name:</span>
        <input type="text" formControlName="assignment_document_name">
    </label>
    <label>
        <span>Assignment Document:</span>
        <input type="file" formControlName="assignment_document"/>
    </label>
    <label>
        <span>Student Document Title:</span>
        <input type="text" formControlName="student_document_name">
    </label>
    <label>
        <span>Student Document Rating:</span>
        <input type="text" formControlName="student_document_rating">
    </label>
    <label>
        <span>Student Document:</span>
        <input type="file" formControlName="student_document"/>
    </label>
    <button type="submit" [disabled]="addAssignmentForm.invalid || addAssignmentForm.pristine">Submit</button>
  </form>
