<div class="admin-container">
    <mat-card class="card" routerLink='/user-management'>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>User Management</mat-card-title>
          <mat-card-subtitle>Add/Remove/Edit Users</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
           Click here to add, remove, or edit users and their information.
          </p>
        </mat-card-content>
        <mat-card-actions>
            <!-- <button mat-button>MANAGER USERS</button> -->
        </mat-card-actions>
      </mat-card>
      <mat-card class="card" routerLink="/course-management">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Course Management</mat-card-title>
          <mat-card-subtitle>Add/Remove/Edit Courses</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
           Click here to add, remove, or edit courses and their information.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>MANAGE COURSES</button> -->
        </mat-card-actions>
      </mat-card>
      <mat-card class="card" routerLink="/document-management">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Assignment and Document Management</mat-card-title>
          <mat-card-subtitle>Add/Remove/Edit Assignments and Documents</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
           Click here to add, remove, or edit assignments and documents.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>MANAGE COURSES</button> -->
        </mat-card-actions>
      </mat-card>
      <mat-card class="card" routerLink="/requirements-management">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Requirements Management</mat-card-title>
          <mat-card-subtitle>Add/Remove/Edit Requirements</mat-card-subtitle>
        </mat-card-header>
        <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
        <mat-card-content>
          <p>
           Click here to add, remove, or edit requirements and their information.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <!-- <button mat-button>MANAGE COURSES</button> -->
        </mat-card-actions>
      </mat-card>
</div>
