<div class="message text-danger">
    <span *ngIf="showMessage">{{displayMessage}}</span>
</div>
<div class="view-documents-container ">
    <div *ngFor="let document of documents">
        <div class="row">
            <div class="col col-1-4">
                <div class="name">
                    {{document.name}}
                </div>
                <div class="dept-sec">
                    {{document.department}} - {{document.year}}
                </div>
                    
            </div>
            <div class="col col-1-4">
                
                <div class="document-info">
                    <div><span class="label info">Created:</span><span class="info"> {{document.creation_date | date}}</span></div><div><span class="info label">Modified:</span> <span class="info">{{document.modified_date | date}}</span></div>
                    
                </div>
            </div>
            <div class="col col-1-4">
                <div><span (click)="showFile(document)" class="doc-link">View Document</span></div>
            </div>
            <div class="col col-1-4">
                <span (click)="editDocument(document)" class="edit-btn"><button>Edit Document</button></span>
                <span (click)="removeDocument(document)" class="delete-btn"><button>Remove Document</button></span>
            </div>
        </div>
    </div>
</div>