<div class="message text-danger">
    <span *ngIf="showMessage">{{displayMessage}}</span>
</div>
<div class="view-documents-container ">
    <div *ngFor="let document of documents">
        <div class="row">
            <div class="col">
                <div class="name">
                    {{document.name}}
                </div>
                <div class="document-info">
                    <span class="info">{{document.name}} {{document.type}} {{document.creation_date | date}} {{document.modified_date | date}} {{document.semester}} {{document.year}} {{document.department}}{{document.course_number}}{{document.section}}</span>
                    <span (click)="removeDocument(document)" class="delete-btn"><button>Remove Document</button></span>
                </div>
            </div>
        </div>
    </div>
</div>