<div class="view-requirements-container ">
    <div *ngFor="let requirement of requirements">
        <div class="row">
            <div class="col">
                <span class="name">{{requirement.name}} </span>{{requirement.description}} - {{requirement.type | titlecase}}
                <!-- <span class="edit-btn"><button>Edit</button></span> -->
                <span class="delete-btn"><button (click)="removeRequirement(requirement)">Remove Requirement</button></span>
            </div>
        </div>
    </div>
</div>
