<div class="change-container">
    <h1>Change Password</h1>
    <form *ngIf="!changedPass" class="change-form" [formGroup]="changeForm" (ngSubmit)="onSubmit(changeForm.value)">
        <mat-form-field appearance="standard">
            <mat-label for="password">
            New Password
            </mat-label>
            <input matInput id="password" type="password" formControlName="password" >
        </mat-form-field>
        <div *ngIf="f.password.touched && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
            <div *ngIf="f.password.errors.pattern">Passwords must be at least 8 characters in length, include lowercase letters, include uppercase letters, include numbers, and include special characters</div>
        </div>
        <mat-form-field appearance="standard">
            <mat-label for="confirmPassword">
            Confirm Password
            </mat-label>
            <input matInput id="confirmPassword" type="password" formControlName="confirmPassword" >
        </mat-form-field>
        <div *ngIf="f.confirmPassword.touched && f.confirmPassword.errors" class="invalid-feedback">
            <div *ngIf="f.confirmPassword.errors.required">Password is required</div>
            <div *ngIf="f.confirmPassword.errors.pattern">Passwords must be at least 8 characters in length, include lowercase letters, include uppercase letters, include numbers, and include special characters</div>
        </div>
        <!-- <input matInput id="roles" type="roles" name="roles" formControlName="roles"> -->
        <div *ngIf="isError" class="error">{{errorTxt}}</div>
        <button mat-raised-button color="primary" class="button" type="submit" [disabled]="!changeForm.valid">Change Password</button>
    </form>
    <div *ngIf="changedPass" class="confirmation-msg">
        You have successfully changed your password. Please log in using <a href="/">this link</a>.
    </div>
    <div *ngIf="showErrMsg" class="error">
        {{errMsg}}
    </div>
</div>