<div class="instructor-container">
    <div class="top-rpw">
        <h2 class="title">My Courses</h2>
    </div>
    <div class="intro">
        <p class="greeting">Hello, {{name}}!</p>
        <p>Your courses are listed below. This is where you will add and manage your assignments for each course.</p>
    </div>
    <div class="page-content">
        <div *ngFor="let course of courses">
            <div class="row">
                <span class="info">
                    <div class="bold name">{{course.name}}</div>
                    <div>
                        <span class="label bold">Course:</span>{{course.course_number}}-{{course.section}}
                    </div>
                    <div>
                        <span class="label bold">Semester:</span>{{course.semester}} {{course.year}}
                    </div>
                </span>
                <span class="edit-btn" (click)="addAssignment(course)"><button>Add Assignment</button></span>
                <span class="edit-btn" (click)="showAssignments(course._id)"><button>Manage Assignments</button></span>
            </div>
        </div>
    </div>
    <div class="assignments">
        <app-view-assignments *ngIf="viewAssignments" [courseId]="courseId"></app-view-assignments>
        <app-add-assignment *ngIf="addAssign" [courseInfo]="theCourse"></app-add-assignment>
    </div>
</div>
